/Makefile
/Makefile.in
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/autom4te.cache
/src/Makefile
/src/Makefile.in
/src/blame-browse
/src/git-marshal.c
/src/git-marshal.h
/src/stamp-*.h
/src/git-enum-types.c
/src/git-enum-types.h
.deps
*.o
